.btn {
	background: $primary-color;
	color: #FFF;
	border: 0px;
	font-family: "SFUIDisplay-Black", sans-serif;
	@include font-dimensions(24,29);
	margin: 0.5em;
	padding: 0.5em;
	font-size: 1.5em;

	span {
		font-family: "SFUIDisplay-Light", sans-serif;
	}
	
	&:hover {
		color: #FFF;
	}
}