$font-url: '../assets/fonts/';

@font-face {
  font-family: 'SFUIDisplay-Black';
  src: url($font-url + 'SFUIDisplay-Black.eot');
  src: url($font-url + 'SFUIDisplay-Black.woff2') format('woff2'),
    url($font-url + 'SFUIDisplay-Black.woff') format('woff'),
    url($font-url + 'SFUIDisplay-Black.ttf') format('truetype'),
    url($font-url + 'SFUIDisplay-Black.svg#SFUIDisplay-Black') format('svg'),
    url($font-url + 'SFUIDisplay-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay-Regular';
  src: url($font-url + 'SFUIDisplay-Regular.eot');
  src: url($font-url + 'SFUIDisplay-Regular.woff2') format('woff2'),
    url($font-url + 'SFUIDisplay-Regular.woff') format('woff'),
    url($font-url + 'SFUIDisplay-Regular.ttf') format('truetype'),
    url($font-url + 'SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg'),
    url($font-url + 'SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url($font-url + 'SFUIDisplay-Light.eot');
  src: url($font-url + 'SFUIDisplay-Light.woff2') format('woff2'),
    url($font-url + 'SFUIDisplay-Light.woff') format('woff'),
    url($font-url + 'SFUIDisplay-Light.ttf') format('truetype'),
    url($font-url + 'SFUIDisplay-Light.svg#SFUIDisplay-Light') format('svg'),
    url($font-url + 'SFUIDisplay-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
