.Home{
	&-header {
		background: $primary-color;
		color: white;
		height: 50vh;
		text-align: center;	
	}

	&-header, &-main, &-footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1em;
	}

	&-title {
		text-align: center;
		cursor: pointer;
		margin-top: 0;
	}

	&-emoji {
		font-size: 9em;
	}

	&-main {
		height: 45vh;
	}

	&-footer {
		height: 5vh;
		background: $light-gray;
		text-align: center;
		font-weight: lighter;

		a {
			display: inline;
		}
	}
}