/**
COMMON VARIABLES
**/
$rem: 16;
$default_font_size: 12;
$default_line_height: 17;
//please here put for images the path relative to the src path!

@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/colors';
@import 'partials/button';
@import 'partials/home';
@import 'partials/search';
@import 'partials/loading';
@import 'partials/results';

html{
	font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
	background: #FFF;
	font-family: "SFUIDisplay-Regular", sans-serif;
	color: $text-color;
}

a {
	color: $link-color;
	text-decoration: none;
	
	&:hover {
		color: darken($link-color, 10%);
		text-decoration: none;
	}
	
	&:visited {
		color: $link-color;
		text-decoration: none;
	}
}

h1 {
  @include font-dimensions(82,82);
  font-family: "SFUIDisplay-Black", sans-serif;

  @include breakpoint(phone) {
    @include font-dimensions(56,56);
  }
}

h2 {
	@include font-dimensions(36,43);
	font-family: "SFUIDisplay-Light", sans-serif;

  @include breakpoint(phone) {
    @include font-dimensions(28,32);
  }
}

h3 {
	@include font-dimensions(20,26);
	font-family: "SFUIDisplay-Black", sans-serif;
}

p {
    font-family: "SFUIDisplay-Light", sans-serif;
	@include font-dimensions(20,26);
}

.error-text {
    color: $error-color;
}

/* INPUTS */

input {
    border: 1px solid $border-color;
    border-radius: 5px;
    outline: none;
    min-width: 200px;
    padding: 0.5em;
    font-size: 1.5em;
}